.containers-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  @media (max-width: 900px) {
    justify-content: space-around;
    gap: 25px;
  }
  @media (max-width: 620px) {
    justify-content: space-between;
    gap: 5px;
  }
  * {
    width: 33%;
    min-width: 450px;
    @media (max-width: 900px) {
      width: 48%;
      min-width: 300px;
    }
    @media (max-width: 620px) {
      width: 100%;
      min-width: 300px;
    }
  }
}

.loading {
  width: 100%;
  text-align: center;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
}

.load-more-button {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
