.cart {
  width: auto 0;
  max-width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(5, 134, 255);
  color: white;
  padding: 30px 10px;
  border-radius: 15px;
  tr {
    overflow-y: scroll;
    padding: 0px;
    td {
      padding: 0px;
      text-align: center;
      vertical-align: middle !important;
    }
  }
  span {
    right: 0;
    position: absolute;
    color: red;
    margin: 0 10px;
    cursor: pointer;
  }
  h1 {
    font-weight: 900;
    padding: 5px 0;
  }
  h3 {
    padding: 5px 0;
  }
}

.img-div {
  width: 270px;
}

table {
  padding: 0px;
  text-align: center;
  align-items: center;
}
