<div class="cart">
  <h3>Productos del Carrito:</h3>
  <table>
    <thead>
      <tr>
        <td>Foto</td>
        <td>Nombre</td>
        <td>Precio</td>
      </tr>
    </thead>
    <tr *ngFor="let pc of cartProviderService.shoppingCart">
      <td [width]="20">
        <div class="img-div">
          <app-img
            *ngIf="pc.images.length > 0"
            imgUrl="{{ pc.images[0] }}"
            height="80"
          ></app-img>
        </div>
      </td>
      <td [width]="240">
        <p>{{ pc.title }}</p>
      </td>
      <td>
        <p>{{ pc.price | currency: "USD" }}</p>
      </td>
    </tr>
  </table>
  <!-- <h1>Cantidad: {{ cartService.shoppingCart.length }}</h1> -->
  <h1>Cantidad: {{ cantProductsInCart }}</h1>
  <h1>Total: $ {{ cartProviderService.total }}</h1>
  <span (click)="cartProviderService.removeDataCart()">Vaciar carrito</span>
</div>
