

<button class="button-default" (click)="createNewProduct()">
  Add new Product
  <span *ngIf="this.createProductsStoreService.getLoading()">...</span>
</button>
<button class="button-default" (click)="updateProduct(products[0].id)">
  Edit first Product
  <span *ngIf="this.updateProductsStoreService.getLoading()">...</span>
</button>
<button class="button-default" (click)="deleteProduct(products[0].id)">
  Delete first Product
  <span *ngIf="this.deleteProductsStoreService.getLoading()">...</span>
</button>

<div class="loading" *ngIf="this.getAllProductsStoreService.getLoading()">
  <h1>Loading...</h1>
</div>

<app-products
  [products]="this.products"
  [isLoading]="this.getAllProductsStoreService.getLoading()"
  (OnMoreData)="getAllProducts()"
></app-products>
