// .container-app {
//   width: 100%;
//   max-width: 500px;
//   margin: 0 auto !important;
//   box-shadow: rgb(0 0 0 / 67%) 0px 3px 8px;
//   border-radius: 15px;
// }

button {
  background: #022951;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}
