.product-container {
  padding: 0px 10px 30px 10px;
  h2 {
    padding: 0;
    margin: 2px 0px;
  }
  p {
    font-size: 20px;
    margin: 2px 0px;
    font-weight: 900;
  }
  .info-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    span {
      margin-top: 7px;
    }
  }
}
button {
  background: #022951;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}
