.containers-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  * {
    width: 46% !important;
  }
}

.add-product {
  margin-left: 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}

.loading {
  width: 100%;
  text-align: center;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
}
