.cart {
  width: auto 0;
  max-width: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(5, 134, 255);
  color: white;
  padding: 30px 10px;
  border-radius: 15px;
  ul {
    height: 30px;
    overflow-y: scroll;
    padding: 5px;
    li {
      font-size: 0.7rem;
    }
  }
  span {
    right: 0;
    position: absolute;
    color: red;
    margin: 0 10px;
    cursor: pointer;
  }
  h1 {
    font-weight: 900;
    padding: 5px 0;
  }
  h3 {
    padding: 5px 0;
  }
}
