.cart {
  width: auto 0;
  max-width: 500px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgb(5, 134, 255);
  color: white;
  padding: 10px;
  border-radius: 15px;
  span {
    right: 0;
    position: absolute;
    color: red;
    margin: 0 10px;
    cursor: pointer;
  }
}
