<header class="header">
  <div id="main">
    <button class="openbtn" (click)="toggleSideBar()">☰</button>
  </div>
  <div class="elementes-navbar">
    <a routerLink="{{ RoutesConstants.HOME_ROUTE }}" class="logo"
      ><app-img
        imgUrl="{{ imgParent }}"
        height="35"
        objectFit="scale-down"
      ></app-img
    ></a>

    <a
      class="cart-button"
      routerLinkActive="active"
      [routerLink]="RoutesConstants.CART_ROUTE"
    >
      Cart <span>{{ cantProductsInCart }}</span>
    </a>

    <div *ngIf="!user">
      <button class="button-default btn" (click)="goToLogin()">Login</button>
      <button class="button-default btn" (click)="goToRegister()">
        Register
      </button>
    </div>
    <div *ngIf="user">
      <p class="email-user">{{ user.email }}</p>
      <a class="button-default btn" (click)="logout()"> Logout </a>
      <a
        class="button-default btn"
        routerLinkActive="active"
        [routerLink]="RoutesConstants.PROFILE_ROUTE"
      >
        Profile
      </a>
    </div>
  </div>

  <div
    id="mySidebar"
    class="sidebar"
    [ngClass]="this.showMenu ? 'showMenu' : ''"
  >
    <a href="javascript:void(0)" class="closebtn" (click)="toggleSideBar()"
      >×</a
    >
    <a
      routerLinkActive="active"
      [routerLink]="RoutesConstants.HOME_ROUTE"
      (click)="toggleSideBar()"
      >Home</a
    >
    <a
      *ngFor="let item of categories"
      [routerLink]="[
        RoutesConstants.PRODUCTS_ROUTE,
        RoutesConstants.CATEGORY_ROUTE,
        item.id
      ]"
      (click)="toggleSideBar()"
      routerLinkActive="active"
      >{{ item.name }}</a
    >
  </div>
</header>
