<div class="modal-container" [ngClass]="isShowModal ? '' : 'hidden'">
  <span (click)="hideModal()">X</span>
  <h1>{{ product.title }}</h1>

  <swiper [slidesPerView]="1" [navigation]="true">
    <ng-template swiperSlide *ngFor="let img of product.images"
      ><app-img imgUrl="{{ img }}" height="400"></app-img
    ></ng-template>
  </swiper>

  <h1>Categoria: {{ product.category.name }}</h1>
  <p>{{ product.description }}</p>
  <div class="info-product">
    <div>
      <h1>{{ product.price | currency: "USD" }}</h1>
    </div>
    <button (click)="addProductToCart()">Add to Cart</button>
  </div>
</div>
