.modal-container {
  position: fixed;
  z-index: 1;
  background: rgb(228, 228, 228);
  border-radius: 15px;
  width: 400px;
  height: 80vh;
  top: 10vh;
  padding: 15px;
  max-width: 500px;
  margin: 0 40px !important;
  span {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: red;
    cursor: pointer;
  }
  .info-product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    button {
      background: #022951;
      border: none;
      color: white;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.hidden {
  visibility: hidden;
}

h1 {
  font-weight: 900;
  padding: 10px 0;
  font-size: 2rem;
}
